<section class="mainbar" data-ng-controller="drinkDetail as vm">
    <section class="matter">
        <div class="container">
            <div>
                <button class="btn btn-info" data-ng-click="vm.goBack()">
                    <i class="fa fa-hand-o-left"></i>Back
                </button>
                <button class="btn btn-info"
                        data-ng-click="vm.cancel()"
                        data-ng-disabled="!vm.canSave">
                    <i class="fa fa-undo"></i>Cancel
                </button>
                <button class="btn btn-info"
                        data-ng-click="vm.save()"
                        data-ng-disabled="!vm.canSave">
                    <i class="fa fa-save"></i>Save
                </button>
                <button class="btn btn-danger"
                        data-ng-click="vm.deleteDrink()">
                    <i class="fa fa-trash-o"></i> Delete
                </button>
                <span data-ng-show="vm.hasChanges"
                      class="dissolve-animation ng-hide">
                    <i class="fa fa-asterisk fa-asterisk-large"></i>
                </span>
            </div>
            <div class="widget wgreen">
                <div data-cc-widget-header title="Edit {{vm.drink.name || 'New Drink'}}"></div>
                <div class="widget-content user">
                    <div class="row">
                        <div class="col-sm-4">
                            <h5>Details</h5>
                            <div>
                                <label>Name</label><br />
                                <input data-ng-model="vm.drink.name"
                                       data-z-validate
                                       placeholder="Drink name" />
                            </div>
                            <div>
                                <div>
                                    <label>Description</label><br />
                                    <input data-ng-model="vm.drink.description"
                                           placeholder="Description" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-4">
                            <div>
                                <h5>Recipe</h5>
                                <ul>
                                    <li ng-repeat="ingredientApp in vm.drink.recipe">{{ingredientApp.amountFormatted}}: {{ingredientApp.ingredient.name}}</li>
                                </ul>
                                <button class="btn btn-success" data-ng-click="vm.addIngredient()">
                                    <i class="fa fa-plus"></i> Add Ingredient
                                </button>
                            </div>
                        </div>                        

                        <div class="col-sm-4">
                            <div>
                                <h5>Tags</h5>
                                <div>
                                    <ul>
                                        <li ng-repeat="tagApp in vm.drink.tagApplications">{{tagApp.tag.name}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </section>
</section>
