<section class="mainbar" data-ng-controller="ingredientDetail as vm">
    <section class="matter">
        <div class="container">
            <div>
                <button class="btn btn-info" data-ng-click="vm.goBack()">
                    <i class="fa fa-hand-o-left"></i>Back
                </button>
                <button class="btn btn-info"
                        data-ng-click="vm.cancel()"
                        data-ng-disabled="!vm.canSave">
                    <i class="fa fa-undo"></i>Cancel
                </button>
                <button class="btn btn-info"
                        data-ng-click="vm.save()"
                        data-ng-disabled="!vm.canSave">
                    <i class="fa fa-save"></i>Save
                </button>
                <button class="btn btn-danger"
                        data-ng-click="vm.deleteIngredient()">
                    <i class="fa fa-trash-o"></i> Delete
                </button>
                <span data-ng-show="vm.hasChanges"
                      class="dissolve-animation ng-hide">
                    <i class="fa fa-asterisk fa-asterisk-large"></i>
                </span>
            </div>
            <div class="widget wgreen">
                <div data-cc-widget-header title="Edit {{vm.ingredient.name || 'New Ingredient'}}"></div>
                <div class="widget-content user">
                    <div class="row">
                        <div class="col-sm-4">
                            <h5>Details</h5>
                            <div>
                                <label>Name</label><br />
                                <input data-ng-model="vm.ingredient.name"
                                       data-z-validate
                                       placeholder="Ingredient name" />
                                
                                <label>Category</label><br />
                                <select ng-options="c.name for c in vm.categories"
                                        data-ng-model="vm.ingredient.category"
                                        ng-change="vm.processChange(vm.ingredient.category)"
                                        data-z-validate></select>
                            </div>
                        </div>                        

                        <div class="col-sm-4">
                            <div>
                                <h5>Drinks</h5>
                                <div>
                                    <ul>
                                        <li ng-repeat="r in vm.ingredient.recipes"><a href="#/drinks/{{r.drink.id}}">{{r.drink.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </section>
</section>
