<section class="mainbar" data-ng-controller="ingredients as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="form-search">
                    <input class="form-search search-query"
                           data-ng-model="vm.ingredientSearch"
                           data-ng-keyup="vm.search($event)"
                           placeholder="Live search..." />
                </div>

                <div class="btn-group pull-right">
                    <a data-ng-click="vm.refresh()" class="btn btn-info">
                        <i class="fa fa-refresh"></i><span>Refresh</span>
                    </a>
                    <a class="btn btn-info"
                       href="#/ingredients/new"><i class="fa fa-plus"></i>Add a new Ingredient</a>
                </div>

            </div>
            <div class="row">
                <div class="widget wviolet">
                    <div data-cc-widget-header title="{{vm.title}}"
                         subtitle="{{vm.filteredIngredients.length}} / {{vm.ingredients.length}}"></div>

                    <div class="widget-content user">
                        <div class="padd list-flow"
                             data-ng-repeat="i in vm.filteredIngredients"
                             data-ng-click="vm.gotoIngredient(i)">

                            <div class="user" title="Go to ingredient details">
                                <img data-cc-img-person="{{i.imageSource}}"
                                     class="img-polaroid user-pic" />

                                <div class="name-stack">
                                    <h3>{{i.name}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
